#tijdlijn-part[b-gi4t0e5sx4] {
    margin: 0 auto 2rem auto;
}

#proseniors-part[b-gi4t0e5sx4] {
    margin: 0 auto 2rem auto;
}

.mud-timeline-vertical.mud-timeline-position-alternate[b-gi4t0e5sx4]::before {
    background-color: #444444;
}
