.gala-header[b-weo4uubj05] {
    text-align: center;
    color: #E1A93C;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-family: 'Californian FB';
}

.title[b-weo4uubj05] {
    font-size: 4rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#E1A93C, #926E27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle[b-weo4uubj05] {
    font-size: 3rem;
    font-weight: 100;
    line-height: 0.95;
}

.gala-logo[b-weo4uubj05] {
    margin-bottom: 2rem;
    width: 75%;
    max-width: 400px;
}

.squigly[b-weo4uubj05] {
    width: 95%;
    max-width: 700px;
    margin-bottom: 2rem;
}
@media only screen and (min-width: 800px) {
    .title[b-weo4uubj05] {
        font-size: 7rem;
    }
    .subtitle[b-weo4uubj05] {
        font-size: 5rem;
    }
}
@media only screen and (min-width: 959px) {
    .gala-logo[b-weo4uubj05] {
        margin-bottom: 2rem;
    }

    .squigly[b-weo4uubj05] {
        width: 800px;
    }
}