@page "/praesidium"
@inject HttpClient Http

<PageTitle>Praesidium - Mercurius Aalst</PageTitle>

<Banner Title="Praesidium" />

@if (leden == null)
{
	<LoadingMessage />
}
else if (leden.Length == 0)
{
	<EmptyMessage Text="Ons praesidium wordt binnenkort aangepast." />
}
else
{
	<div class="pr-grid">
		@foreach (PrLid member in leden)
		{
			<Member PrLid="member" />
		}
	</div>
}
