/* /Pages/Home/Home.razor.rz.scp.css */
.home-pic[b-9jsqrn8y1t] {
    position: relative;
    width: 95%;
    max-width: 1000px;
    margin: 2rem 1rem;
    box-shadow: 0px 10px 30px 0px;
}

.blog-pic[b-9jsqrn8y1t] {
    width: 95%;
    max-width: 1000px;
    margin: 0 1rem 4rem 1rem;
}

.blog-text[b-9jsqrn8y1t] {
    max-width: 800px;
    margin: 2.5rem auto 5rem auto;
    font-size: 1.25rem;
    text-align: start;
}

.blog-text h5[b-9jsqrn8y1t] {
    text-align: left;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 750px) {
    .blog-pic[b-9jsqrn8y1t], .home-pic[b-9jsqrn8y1t] {
        margin: 0 0 4rem 0;
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .blog-text[b-9jsqrn8y1t] {
        margin: 2rem 1rem 4rem 1rem;
    }
}
/* /Pages/Kalender/Event.razor.rz.scp.css */
.event-card[b-ov08ttcqlf] {
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #808080;
    transition: 0.1s;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.event-card:hover[b-ov08ttcqlf] {
    cursor: pointer;
    transform: scale(1.05);
    color: inherit;
}

.event-card:not(hover)[b-ov08ttcqlf] {
    cursor: default;
    transform: scale(1);
}

.event-image[b-ov08ttcqlf] {
    width: 100.05%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.event-text[b-ov08ttcqlf] {
    padding: 1rem 2rem 2rem 2rem;
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .event-card:hover[b-ov08ttcqlf]::after {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        content: "Naar facebook event  →";
        color: white;
        background-color: #217226;
        font-weight: bold;
        opacity: 100;
    }
}

@media only screen and (max-width: 600px) {
    .container-xxl[b-ov08ttcqlf] {
        padding: 0;
    }

    .event-card[b-ov08ttcqlf] {
        min-width: none;
        max-width: none;
        width: 100%;
        overflow: hidden;
    }

    .event-card[b-ov08ttcqlf], .event-image[b-ov08ttcqlf] {
        border-radius: 0;
    }

    .event-text[b-ov08ttcqlf] {
        padding: 1rem;
    }
}
/* /Pages/Kalender/Kalender.razor.rz.scp.css */
.event-div[b-p7ckrmsm1s] {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
/* /Pages/Media/Media.razor.rz.scp.css */
.albums[b-jkcy88g78f] {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
}

@media only screen and (max-width: 1400px) {
    .albums[b-jkcy88g78f] {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .albums[b-jkcy88g78f] {
        margin: 0 1rem;
    }
}

.container[b-jkcy88g78f] {
    flex: 1 1 0;
}

.album[b-jkcy88g78f] {
    position: relative;
    transition: ease-in-out 0.1s;
    height: 250px;
    min-width: 300px;
}

@media only screen and (max-width: 767px) {
    .album[b-jkcy88g78f]::after {
        content: "Naar foto-album";
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;
        right: 0.5rem;
        color: #217226;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        font-weight: bold;
        transition: ease-in-out 0.5s;
    }
}

@media only screen and (max-width: 400px) {
    .album[b-jkcy88g78f]::after {
        content: "Naar foto-album";
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;
        right: 0.5rem;
        color: #217226;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        font-weight: bold;
        transition: ease-in-out 0.5s;
    }

    .album[b-jkcy88g78f] {
        min-width: 200px;
    }
}

@media only screen and (min-width: 767px) {

    .album:hover[b-jkcy88g78f]::after {
        content: "Naar foto-album";
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;
        right: 0.5rem;
        color: #217226;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        font-weight: bold;
        transition: ease-in-out 0.5s;
    }

    .album:hover[b-jkcy88g78f] {
        transform: scale(1.05);
    }
}

.empty-container[b-jkcy88g78f] {
    width: 100%;
    min-width: 300px;
    height: 0px;
}

.album-image[b-jkcy88g78f] {
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 2px #217226;
    background-color: white;
}

.back-image[b-jkcy88g78f] {
    content: " ";
    position: absolute;
    z-index: 0;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    border: solid 2px #217226;
    left: 0.5rem;
    top: 0.5rem;
}

.album-text[b-jkcy88g78f] {
    margin-top: 1rem;
    text-align: center;
}
/* /Pages/Praesidium/Member.razor.rz.scp.css */
.pr-card[b-18pm7v3bvf] {
    max-width: 400px;
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #808080;
    transition: all 0.1s ease-in-out;
    grid-column: span 2;
    margin: 0 auto;
}

.pr-card:hover[b-18pm7v3bvf] {
    cursor: pointer;
    transform: scale(1.05);
}

.pr-card:not(hover)[b-18pm7v3bvf] {
    cursor: default;
    transform: scale(1);
}

.pr-image[b-18pm7v3bvf] {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.pr-text[b-18pm7v3bvf] {
    padding: 0.5rem 1rem;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .pr-card[b-18pm7v3bvf] {
        max-width: none;
        width: 80%;
        grid-column: span 3;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 860px) {
    .pr-card[b-18pm7v3bvf] {
        min-width: none;
        grid-column: span 6;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .pr-card[b-18pm7v3bvf] {
        min-width: none;
        max-width: none;
        width: 100%;
    }

    .pr-card[b-18pm7v3bvf], .pr-image[b-18pm7v3bvf] {
        border-radius: 0;
    }
}

/* Dialog */

.dialog-container[b-18pm7v3bvf] {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}
/* /Pages/Praesidium/MemberDialog.razor.rz.scp.css */
.dialog[b-93apr55cxb] {
    width: 1300px;
    max-height: 80%;
    height: 680px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    position: relative;
    margin: 0 3rem;
    cursor: default;
}

.btn-close[b-93apr55cxb] {
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
    transform: scale(1.5);
    padding:0.5rem;
    color: black;
}

.title[b-93apr55cxb] {
    grid-column-start: 2;
    margin: 3rem 3rem 0 3rem;
}

.image[b-93apr55cxb] {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
}

.text[b-93apr55cxb] {
    margin: 0 3rem 3rem 3rem;
    overflow: scroll;
    position: relative;
}

.function[b-93apr55cxb] {
    color: #217226;
    font-size: 3rem;
}

.name[b-93apr55cxb] {
    font-size: 2rem;
}

.question[b-93apr55cxb] {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
}
.answer[b-93apr55cxb] {
    font-weight: 300;
    font-size: 1rem;
}

@media only screen and (max-width: 1300px) {
    .title[b-93apr55cxb] {
        margin: 2rem 2rem 0 2rem;
    }
    .text[b-93apr55cxb] {
        margin: 0 2rem 2rem 2rem;
    }

    .function[b-93apr55cxb] {
        font-size: 3rem;
    }

    .name[b-93apr55cxb] {
        font-size: 1.75rem;
    }

    .question[b-93apr55cxb], .answer[b-93apr55cxb] {
    }
}

@media only screen and (max-width: 1100px) {
    .dialog[b-93apr55cxb] {
        margin: 0 2rem;
    }

    .function[b-93apr55cxb] {
        font-size: 2.5rem;
    }

    .name[b-93apr55cxb] {
        font-size: 1.5rem;
    }

    .question[b-93apr55cxb], .answer[b-93apr55cxb] {
    }
}

@media only screen and (max-width: 950px) {
    .dialog[b-93apr55cxb] {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin: 0 1rem;
        max-width: 500px;
        height: 90%;
        max-height: none;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .dialog[b-93apr55cxb]::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }

    .title[b-93apr55cxb] {
        margin: 3rem 1rem 1rem 1rem;
    }

    .name[b-93apr55cxb] {
        margin: 0;
    }

    .text[b-93apr55cxb] {
        overflow: visible;
        margin: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .title[b-93apr55cxb] {
        margin: 3rem 1rem 1rem 1rem;
    }
    .function[b-93apr55cxb] {
        font-size: 1.75rem;
    }
    .name[b-93apr55cxb] {
        font-size: 1.25rem;
    }
}
/* /Pages/Praesidium/Praesidium.razor.rz.scp.css */
.pr-grid[b-b383b6gld6] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .pr-grid[b-b383b6gld6] {
        overflow: hidden;
    }
}
/* /Shared/Banner.razor.rz.scp.css */
.banner-container[b-1xo1cob7me] {
    position: relative;
    z-index: 0;
    width: 100%;
    padding: 2.5rem 2rem 0 2rem;
    display: flex;
    background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(33,114,38,1) 100%);
    overflow-x: hidden;
}

.banner[b-1xo1cob7me] {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    position: relative;
    z-index: 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 28rem;
}

.title[b-1xo1cob7me] {
    color: white;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.logo[b-1xo1cob7me] {
    position: relative;
    z-index: -1;
    display: flex;
    margin: auto;
    max-height: 20rem;
    height: 100%;
    animation: sway-animation-b-1xo1cob7me 4s ease-in-out;
}

.sway-animation[b-1xo1cob7me] {
    animation-name: sway-animation-b-1xo1cob7me;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
}

@media only screen and (max-width: 800px) {
    .banner[b-1xo1cob7me] {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .title[b-1xo1cob7me] {
        justify-content: center;
    }
}

@keyframes sway-animation-b-1xo1cob7me {
    0% {
        z-index: -10;
        transform: rotateY(-20deg) rotateX(10deg);
    }

    100% {
        z-index: -10;
        transform: rotateY(20deg) rotateX(10deg);
    }
}
/* /Shared/Footer.razor.rz.scp.css */
.footer[b-81g2plhqll] {
    margin: 6rem 0 0 0;
    overflow-x: hidden;
}

h5[b-81g2plhqll] {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.footer-top[b-81g2plhqll] {
    width: 100%;
}

.footer-bot[b-81g2plhqll] {
    padding: 2rem;
    background-color: #AAAAAA;
    display: grid;
    gap: 3rem;
    position: relative;
}

.promo a[b-81g2plhqll] {
    color: white;
}

.socials[b-81g2plhqll] {
    margin-left: -0.75rem;
}

.promo[b-81g2plhqll] {
    position: relative;
    color: white;
    background-color: #222222;
    text-align: center;
    padding: 0.5rem;
}

.footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll], .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
    grid-row-start: 1;
    justify-content: center;
}

.pages[b-81g2plhqll] {
    display: flex;
    flex-direction: column;
}

.pages a[b-81g2plhqll] {
    width: min-content;
}

.to-top[b-81g2plhqll] {
    position: absolute;
    bottom: -1rem;
    right: 0rem;
    transform: rotate(-25deg);
    padding: 2rem;
    background-color: #217226;
    cursor: pointer;
}

.to-top-icon[b-81g2plhqll] {
    color: white;
    transform: rotate(25deg);
}

@media only screen and (max-width: 1100px) {
    .footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll] {
        grid-row-start: 1;
    }

    .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 700px) {
    .footer-bot[b-81g2plhqll] {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 1rem;
    }
}
/* /Shared/LoadingPage.razor.rz.scp.css */
.loading-page[b-wt5ihv1xva] {
    z-index: 10000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    animation-name: moveUp-b-wt5ihv1xva;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.logo[b-wt5ihv1xva] {
    position: relative;
    z-index: -10;
    margin: 0 auto;
    max-height: 20rem;
    max-width: 100%;
    margin: 0 2rem;
    animation: sway-animation-b-wt5ihv1xva 3s ease-in-out;
}

@keyframes sway-animation-b-wt5ihv1xva {
    20% {
        transform: rotateY(0);
    }
    60% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes moveUp-b-wt5ihv1xva {
    to {
        height: 0;
        opacity: 0;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hfb645j2nb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hfb645j2nb] {
    flex: 1;
}

.sidebar[b-hfb645j2nb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hfb645j2nb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-hfb645j2nb]  a, .top-row[b-hfb645j2nb]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-hfb645j2nb]  a:hover, .top-row[b-hfb645j2nb]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-hfb645j2nb]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hfb645j2nb] {
        display: none;
    }

    .top-row.auth[b-hfb645j2nb] {
        justify-content: space-between;
    }

    .top-row[b-hfb645j2nb]  a, .top-row[b-hfb645j2nb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hfb645j2nb] {
        flex-direction: row;
    }

    .sidebar[b-hfb645j2nb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hfb645j2nb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hfb645j2nb]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hfb645j2nb], article[b-hfb645j2nb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.top-link[b-6wwsayw1sz] {
    height: 100%;
    display: flex;
    align-items: center;
}

.fixed-top[b-6wwsayw1sz] {
    margin: 0 2rem;
}

.navbar[b-6wwsayw1sz] {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 900;
    height: 3.5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: #217226;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
    color: white;
}

.logo-link[b-6wwsayw1sz] {
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-bottom-left-radius: 3rem;
}

.logo-link:hover[b-6wwsayw1sz] {
    color: lightgray;
}

a[b-6wwsayw1sz] {
    transition: 0.2s ease-in-out;
    color: white;
}

a:hover[b-6wwsayw1sz] {
    color: lightgray;
}

.menu-link[b-6wwsayw1sz] {
    padding: 1.125rem;
}

.menu-link:last-child[b-6wwsayw1sz] {
    border-bottom-right-radius: 3rem;
    padding: 1.125rem 2.25rem 1.125rem 1.125rem;
}

ul[b-6wwsayw1sz] {
    height: 100%;
    margin: auto 0;
    display: flex;
    align-items: center;
    font-size: 1.125em;
}

.mud-drawer-fixed[b-6wwsayw1sz] {
    z-index: 1000;
}

/* Hover effect */

a[b-6wwsayw1sz] {
    position: relative;
    display: inline-block;
}

.menu-link[b-6wwsayw1sz]::before {
    content: "";
    position: absolute;
    border: none;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    border: none;
    transition: height 0.2s, width 0.2s;
}

.menu-link:hover[b-6wwsayw1sz]::before {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid lightgray;
}

.menu-link:last-child[b-6wwsayw1sz]::before {
    width: 98%;
    border-bottom-right-radius: 3rem;
}

.menu-link:last-child:hover[b-6wwsayw1sz]::before {
    width: 100%;
    border-right: 2px solid lightgray;
}

.active-link[b-6wwsayw1sz]::before {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.3);
    transition: 0.2s ease;
    border-bottom: 2px solid white;
}

.active-link:last-child[b-6wwsayw1sz]::before {
    width: 100%;
    border-right: 2px solid white;
}

@media only screen and (max-width: 959px) {
    .navbar[b-6wwsayw1sz] {
        max-width: none;
        width: 100%;
        border-radius: 0;
        padding: 0;
    }

    .fixed-top[b-6wwsayw1sz] {
        margin: 0;
    }

    .logo-link[b-6wwsayw1sz] {
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
}

/* Drawer */

.drawer[b-6wwsayw1sz] {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 100vh;
    z-index: 10000;
    background-color: rgba(221,221,221, 0.98);
    transition: 0.2s ease-in-out;
}

.drawer.opened[b-6wwsayw1sz] {
    right: 0;
}

.top-drawer[b-6wwsayw1sz] {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-drawer-link[b-6wwsayw1sz] {
    font-weight: 700;
    font-size: 1.5rem;
    color: #217226;
    margin: 0;
    padding: 1rem;
}

.btn-close[b-6wwsayw1sz] {
    font-size: 1.125rem;
    padding: 0;
    height: 3.5rem;
    width: 3.5rem;
}

.drawer-links[b-6wwsayw1sz] {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawer-link[b-6wwsayw1sz] {
    width: 100%;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    text-align: center;
}

.drawer-link:hover[b-6wwsayw1sz] {
    cursor: pointer;
    color: black;
}

@media only screen and (min-width: 959px) {
    .drawer[b-6wwsayw1sz] {
        display: none;
    }
}
