@page "/clublied"

<PageTitle>Mercurius Aalst - Clublied</PageTitle>

<Banner Title="Clublied" />

<MudText Align="Align.Center" Style="margin-bottom: 2rem;">
	<b>Wijze:</b> Ode an die freude<br />
	<b>Tekst:</b> Geert Bruyneel en Philip Vlaeminck
</MudText>
<TitledSection Title="Zing maar mee!">
	<div class="container-xxl d-flex justify-content-center">
		<iframe style="height:450px; max-width:750px;" src="https://www.youtube.com/embed/-kcOpyM9cBg" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</TitledSection>
<TitledSection Title="Tekst">
	<div class="container-xxl d-flex flex-column text-center mx-auto">
		<p>
			In 't Kastanjehof gezeten, <br />
			Zat Mercurius aan den toog <br />
			We hadden toch wel moeten weten <br />
			Ons tempo lag veel te hoog <br />
		</p>
		<p>
			En we drinken en we vieren, <br />
			Want student zijn is een feest. <br />
			Wij proeven hier van alle bieren, <br />
			Want 't is nooit genoeg geweest. <br />
		</p>
		<p>
			Komt dus allen bij elkander <br />
			In 't Kastanjehof veur plezier. <br />
			Alleman kruipt op een ander, <br />
			En geeft nu mijn pint alhier. <br />
		</p>
		<p>
			Laat ons hier dus nu besluiten <br />
			Dat Mercurius de club is <br />
			Waar ze bier drinken met kuipen <br />
			En waar iedereen welkom is! <br />
		</p>
	</div>
</TitledSection>
