.loading-page[b-wt5ihv1xva] {
    z-index: 10000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    bottom: 0;
    right: 0;
    animation-name: moveUp-b-wt5ihv1xva;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.logo[b-wt5ihv1xva] {
    position: relative;
    z-index: -10;
    margin: 0 auto;
    max-height: 15rem;
    height: 100%;
    margin: 0 2rem;
    animation: sway-animation-b-wt5ihv1xva 4s ease-in-out;
}

@keyframes sway-animation-b-wt5ihv1xva {
    20% {
        transform: rotateY(0);
    }
    60% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes moveUp-b-wt5ihv1xva {
    to {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        height: 0;
        width: 0;
        opacity: 0;
    }
}