.footer[b-81g2plhqll] {
    margin: 6rem 0 0 0;
}

.footer-top[b-81g2plhqll] {
    width: 100%;
}

.footer-bot[b-81g2plhqll] {
    padding: 2rem;
    background-color: #AAAAAA;
    display: grid;
    gap: 3rem;
}

.promo a[b-81g2plhqll] {
    color: white;
}

.promo[b-81g2plhqll] {
    color: white;
    background-color: #222222;
    text-align: center;
    padding: 0.5rem;
}

.footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll], .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
    grid-row-start: 1;
    justify-content: center;
}

.pages[b-81g2plhqll] {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll] {
        grid-row-start: 1;
    }

    .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 850px) {
    .footer-bot[b-81g2plhqll] {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}