@page "/kalender"
@inject HttpClient Http

<PageTitle>Kalender - Mercurius Aalst</PageTitle>

<Banner Title="Kalender" />

@if (events == null)
{
	<LoadingMessage />
} 
else if (events.Where(a => a.Start > DateTime.Now.Date).OrderBy(a => a.Start).Count() == 0)
{
	<EmptyMessage Text="Voorlopig is onze kalender leeg." />
}
else
{
	<TitledSection Title="Komende activiteiten">
		<div class="event-div pt-4" style="padding-bottom: 4rem;">
			@foreach (Activiteit ev in events.Where(a => a.Start > DateTime.Now.Date).OrderBy(a => a.Start))
			{
				<Event EventIndex="ev" />
			}
		</div>
	</TitledSection>
}


