.event-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.google-link {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    font-size: 1.25rem;
}