@page "/media"
@inject HttpClient Http

<PageTitle>Media - Mercurius Aalst</PageTitle>

<Banner Title="Media"/>

@if (albums == null)
{
	<p><em>Loading...</em></p>
} 
else
{
	<div class="albums">
		@foreach (Album album in albums.OrderByDescending(a => a.Date))
		{
			<div class="container">
				<a href="@album.Link" target="_blank">
					<div class="album">
						<img src="@(album.CoverUrl+".jpg")" class="album-image" />
						<div class="back-image" />
					</div>
				</a>
				<p class="album-text">
					<h6>@album.Date.ToString("dd/MM/yyyy")</h6>
					<h5><b>@album.Name</b></h5>
				</p>
			</div>
		}
		<div class="container empty-container" />
		<div class="container empty-container" />
		<div class="container empty-container" />
	</div>
}

