@page "/galabal"

<div class="gala">
	<GalaHeader />

	<div class="gala-section">
		<div class="image-div">
			<img src="/img/gala/party.jpg" class="image" />
		</div>
		<div class="text-div">
			<p class="text">Mercurius Aalst bestaat 75 jaar, en dat moet gevierd worden! Als Praesidium hebben wij de eer om jullie allemaal te mogen verwelkomen op zaterdag 20 april 2024 op ons Lustrumbal ter gelegenheid van ons 75-jarig bestaan. Meer informatie is te vinden op <a href="https://www.facebook.com/events/888215352930541">het&nbsp;Facebook-event</a></p>
		</div>
	</div>
	<div class="gala-section">
		<div class="image-div">
			<img src="/img/gala/keirk.png" class="image" />
		</div>
		<div class="text-div">
			<h1 class="title">Locatie</h1>
			<p class="text">Dit niet te missen evenement zal doorgaan in De Keirk.<br /><a href="https://maps.app.goo.gl/VUyLG9cHWuwAMmmA8">Geraardsbergsesteenweg 79, 9320 Aalst</a></p>
		</div>
	</div>
	<div class="gala-section">
		<div class="image-div">
			<img src="/img/gala/dj.jpg" class="image" />
		</div>
		<div class="text-div">
			<h1 class="title">DJ's</h1>
			<p class="text">
				Een evenement als dit moet natuurlijk ook van muziek voorzien worden. Daarvoor hebben een line-up van top-DJ's!<br /><br />
				<span style="text-align: center;">
					DJ Goudvis ~ 22u-23u<br />
					No Limits ~ 23u-00u30<br />
					Duivenmelker ~ 00u30-02u<br />
					Apollo ~ 02u-04u
				</span>
			</p>
		</div>
	</div>
	<div class="gala-section">
		<div class="image-div">
			<img src="/img/gala/ticket.jpg" class="image" />
		</div>
		<div class="text-div">
			<h1 class="title">Tickets</h1>
			<p class="text">Voor tickets kan je bij één van de praesidiumleden zijn. In voorverkoop kosten deze €13, aan de deur €15.</p>
		</div>
	</div>
	<div class="gala-section">
		<div class="image-div">
			<img src="/img/gala/suit.jpg" class="image" />
		</div>
		<div class="text-div">
			<h1 class="title">Dresscode</h1>
			<p class="text">We verwachten van onze gasten op het bal dat ze de 'Dress to Impress' dresscode volgen, dus trek je meest stijlvolle en elegante outfit aan om de avond extra speciaal te maken. We kijken ernaar uit om samen met jullie een hele nacht te schitteren!</p>
		</div>
	</div>
</div>
