
<div class="gala-section">
	<div class="image-div">
		<img src="@("/img/gala/"+ImageUrl)" class="image" />
	</div>
	<div class="text-div">
		<h1 class="title">@Title</h1>
		<p class="text">@Text</p>
	</div>
</div>

@code {
	[Parameter]
	public string Title { get; set; } = default!;

	[Parameter]
	public string ImageUrl { get; set; } = default!;

	[Parameter]
	public string Text { get; set; } = default!;
}
