<div>
	<div class="home-button">
		<MudButton StartIcon="@Icons.Material.Filled.ArrowBack" Color="@Color.Primary" Href="/">Terug naar Home</MudButton>
	</div>

	<div class="gala-header">
		<img src="img/jubileum-schild.png" class="sway-animation" />
		<h1 class="title">Lustrumbal</h1>
		<h3 class="subtitle">75 jaar<br>Mercurius</h3>
	</div>
</div>

@code {

}
