@page "/galabal"

<div class="gala">
	<GalaHeader />

	<GalaSection Title="Aanvang" Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." ImageUrl="watch.jpg" />
	<GalaSection Title="Dresscode" Text="We verwachten van onze gasten op het bal dat ze de 'Dress to Impress' dresscode volgen, dus trek je meest stijlvolle en elegante outfit aan om de avond extra speciaal te maken. We kijken ernaar uit om samen met jullie een hele nacht te schitteren!" ImageUrl="suit.jpg" />
	<GalaSection Title="Locatie" Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." ImageUrl="keirk.png" />
	<GalaSection Title="Sponsors" Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." ImageUrl="watch.jpg" />
	<GalaSection Title="DJ's" Text="We hebben een line-up van top DJ's samengesteld om de avond te voorzien van de beste muzikale vibes. DJ A, DJ B en DJ C staan klaar om de soundtrack van de avond te verzorgen!" ImageUrl="watch.jpg" />
	<GalaSection Title="Tickets" Text="Voor tickets kan je bij één van de praesidiumleden zijn. Bij voorverkoop kosten deze €13, aan de deur €15." ImageUrl="watch.jpg" />
</div>
