<PageTitle>404 - Mercurius Aalst</PageTitle>

<h3>_404</h3>


@code {
	[Inject]
	public NavigationManager NM { get; set; }

	protected override void OnInitialized()
	{
		@if (!NM.Uri.Contains("404"))
		{
			NM.NavigateTo("/404");
		}
	}
}
