@page "/"

<PageTitle>Mercurius Aalst - Home</PageTitle>

<Banner />

<div style="margin-bottom: 4rem; text-align: center;">
	<MudText Color="Color.Primary" Typo="Typo.h4" Align="Align.Center" Class="mb-4 fw-bold">Wie zijn wij?</MudText>

	<img src="/img/praesidium-2223.png" class="blog-pic" loading="eager" />

	<div class="blog-text">
		<h5>Wij zijn een door Hogeschool Gent erkende <b>studentenclub</b>. Dit wil zeggen dat wij enkele afspraken ondertekenen die de <b>veiligheid</b> van onze leden garandeert en de opgelegde regels zullen worden nageleefd.</h5>
		<h5>Bij ons geldt een <b>nultolerantie voor wanpraktijken</b> of situaties die de veiligheid van onze leden op het spel zet.</h5>
		<h5>Ook ondertekenen wij het <b>Aalsters doopdecreet</b>, waardoor wij een <b>veilige doop</b> kunnen garanderen aan zowel de deelnemers als de mensen rondom ons.</h5>
	</div>
</div>