.home-pic {
    position: relative;
    width: 95%;
    max-width: 1000px;
    margin: 2rem 1rem;
    box-shadow: 0px 10px 30px 0px;
}

.blog-pic {
    width: 95%;
    max-width: 1000px;
    margin: 0 1rem 4rem 1rem;
}

.blog-text {
    max-width: 800px;
    margin: 2.5rem auto 5rem auto;
    font-size: 1.25rem;
    text-align: start;
}

.blog-text h5 {
    text-align: left;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 750px) {
    .blog-pic, .home-pic {
        margin: 0 0 4rem 0;
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .blog-text {
        margin: 2rem 1rem 4rem 1rem;
    }
}
