@*<div class="container">
	<div class="banner" style="z-index: 0;">
		<div class="h1 fw-bold text-white text-center">@Title</div>
		<img src="img/mercurius-logo.png" class="logo sway-animation" />
	</div>
</div>*@

<div class="banner-container">
	<div class="banner">
		<h1 class="title">@Title</h1>
		<img src="img/mercurius-logo.png" class="logo sway-animation"/>
	</div>
</div>

@code {
	[Parameter]
	public string? Title { get; set; }
}