<div class="banner w-100">
	<div class="h1 fw-bold text-white text-center">@Title</div>
	<img src="img/mercurius-logo.png" class="logo sway-animation" />
	<div></div>
</div>

@code {
	[Parameter]
	public string? Title { get; set; }
}