<footer class="footer">
	<img class="footer-top" src="img/footer-top.png" />
	<div class="footer-bot">

		<div class="footer-icon">
			<img src="img/mercurius-logo.png" height="200" />
		</div>

		<div class="footer-socials">
			<h5>Social Media</h5>
			<div class="socials">
				<MudIconButton Icon="@Icons.Custom.Brands.Facebook" Href="https://www.facebook.com/groups/26262717221" Target="_blank" />
				<MudIconButton Icon="@Icons.Custom.Brands.TikTok" Href="@link" Target="_blank" />
				<MudIconButton Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/mercurius.aalst/" Target="_blank" />
			</div>
		</div>

		<div class="footer-contact">
			<h5>Contact</h5>
			<div>
				<a href="https://goo.gl/maps/GrR8Tng5JRvrQova7" target="_blank">Arbeidstraat 14, 9300 Aalst</a><br />
				<a href="mailto:mercuriusaalst.studentenclub@gmail.com" target="_blank">mercuriusaalst.studentenclub@gmail.com</a><br />
			</div>
			<h5 style="margin-top: 3rem;">Clubstatuten</h5>
			<div>
				<a href="./statuten_studentenclub_mercurius.pdf" target="_blank">Download onze Clubstatuten hier</a>
			</div>
		</div>

		<div class="footer-pages">
			<h5>Pagina's</h5>
			<div class="pages">
				<a href="/">Home</a>
				<a href="/praesidium">Praesidium</a>
				<a href="/media">Media</a>
				<a href="/geschiedenis">Geschiedenis</a>
				<a href="/clublied">Clublied</a>
				<a href="/clubcafe">Clubcafe</a>
				<a href="/kalender">Kalender</a>
			</div>
		</div>
	</div>
	<div class="promo">
		Webdesign & development by <a href="http://www.jonathancouck.be/" target="_blank"><b>Jonathan Couck</b></a>
	</div>
</footer>

@code {
	private string link = "https://www.tiktok.com/@mercurius.aalst?is_from_webapp=1&sender_device=pc";
}