<footer class="footer">
	<img class="footer-top" src="img/footer-top.png" />
	<div class="footer-bot">

		<div class="footer-icon">
			<img src="img/mercurius-logo.png" height="200" />
		</div>

		<div class="footer-socials">
			<h5><b>Social Media</b></h5>
			<div>
				<MudIconButton Icon="@Icons.Custom.Brands.Facebook" />
				<MudIconButton Icon="@Icons.Custom.Brands.TikTok" />
				<MudIconButton Icon="@Icons.Custom.Brands.Instagram" />
				<MudIconButton Icon="@Icons.Custom.Brands.Discord" />
			</div>
		</div>

		<div class="footer-contact">
			<h5><b>Contact</b></h5>
			<div>
				Email: <a href="mailto:mercuriusaalst.studentenclub@gmail.com">mercuriusaalst.studentenclub@gmail.com</a><br />
				Telefoon: +32 123 45 67<br />
				Adres: Arbeidstraat 14, 9300 Aalst
			</div>
		</div>

		<div class="footer-pages">
			<h5><b>Pagina's</b></h5>
			<div class="pages">
				<a href="/">Home</a>
				<a href="/praesidium">Praesidium</a>
				<a href="/media">Media</a>
				<a href="/geschiedenis">Geschiedenis</a>
				<a href="/clublied">Clublied</a>
				<a href="/clubcafe">Clubcafe</a>
				<a href="/kalender">Kalender</a>
			</div>
		</div>
	</div>
	<div class="promo">
		Webdesign & development by <a href="http://www.jonathancouck.be/" target="_blank"><b>Jonathan Couck</b></a>
	</div>
</footer>

@code {

}