<div class="@loadClass">
    <div class="spinner-border text-success" role="status" />
</div>
<div style="position:relative;">
    @ChildContent
</div>

@code {
    private string loadClass = "loading-page";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Inject]
    public IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("disableScroll");
        await Task.Delay(4000);
        await JS.InvokeVoidAsync("enableScroll");
    }
}