@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudSnackbarProvider />
<NavMenu />

<div style="min-height:100vh; background-color:#dddddd;">
    @Body
    <Footer />
</div>
