@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudSnackbarProvider />
<NavMenu />

<LoadingPage>
    <div style="min-height:100vh; background-color:#dddddd;">
        @Body
        <Footer />
    </div>
</LoadingPage>