@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudSnackbarProvider />
<NavMenu />

<div style="min-height:100vh; background-color:#dddddd;">
    @Body
    <Footer />
</div>

@code {
    private int counter = 0;

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#217226",
            Secondary = "#EEEEEE",
            TextPrimary = "#000000"
        },

        Typography = new Typography()
        {
            Default = new Default()
            {
                    FontFamily = new[] { "DM Sans", "Gotham", "Helvetica", "Arial", "sans-serif" }
            }
        }
    };
}
