#tijdlijn-part {
    margin: 0 auto 2rem auto;
}

#proseniors-part {
    margin: 0 auto 2rem auto;
}

.mud-timeline-vertical.mud-timeline-position-alternate::before {
    background-color: #217226;
}
.mud-timeline-vertical .mud-timeline-item {
    padding-bottom: 3rem;
}