@page "/geschiedenis"

<PageTitle>Geschiedenis - Mercurius Aalst</PageTitle>

<Banner Title="Geschiedenis" />

<div style="max-width: 1000px; margin: 4rem auto;">
	<TitledSection Title="Ontstaan" Alignment="Align.Center" Style="font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem;">
		<p style="margin: inherit auto;">
			Het in 1948 ontstane Mercurius is de oudste nog bestaande studentenclub van Aalst.
			In de pas opgerichte Rijkshogere Handelsschool werd door toenmalig directeur Reychler Studentenbond
			Mercurius boven de doopvont gehouden.
		</p>
		<p style="margin: inherit auto;">
			Er werd onder andere toneel gespeeld en een bibliotheek beheerd.
			Er was ook het studentenblad Kwik. Het is duidelijk dat er sindsdien veel veranderd is.
			In de zeventig jarige geschiedenis heeft de club tweemaal een onderbreking gekend van enkele jaren. <br />
		</p>
		<p style="margin: inherit auto;">
			De laatste heroprichting dateert van 1986 toen Peter Van Accolyen de club opnieuw leven in blies. Sinds lang is het Kastanjehof het clublokaal.
			In "den Hof" staan Yvette en Mark achter den toog. Een bezoekje aan onze meter en peter is zeker de moeite waard,
			al was het maar om het hoog curiositeitengehalte van ons clubcafé te bewonderen.
		</p>
	</TitledSection>
</div>

<div style="max-width: 1000px; margin: 4rem auto;">
	<TitledSection Title="Naamgeving" Alignment="Align.Center" Style="font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem;">
		<p style="margin: inherit auto; text-align: left;">
			Mercurius was de Romeinse god van de handelaren (ook wel van de dieven en bedriegers).
			Zijn Griekse tegenhanger was Hermes, net zoals nu de Gentse tegenhanger van Mercurius heet. <br />
		</p>
		<p style="margin: inherit auto; text-align: left;">
			Op het schild kan je behalve het monogram ook de staf van Mercurius zien, de caduceus. Deze toont een palmtak met twee verstrengelde slangen.
		</p>
	</TitledSection>
</div>

<TitledSection Title="Prosenioren" Style="display: flex; margin: 4rem auto; max-width: 500px;">
	<MudTable id="proseniors-part" Style="padding: 0; border-radius: 0;" Items="_proseniorItems" Elevation="10" Dense Hover Outlined Striped Breakpoint="Breakpoint.None">
		<HeaderContent>
			<MudTh>Jaar</MudTh>
			<MudTh>Naam</MudTh>
			<MudTh>Bijnaam</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd>@context[0]</MudTd>
			<MudTd>@context[1]</MudTd>
			<MudTd>@(context[2] == "" ? "-" : context[2])</MudTd>
		</RowTemplate>

		<PagerContent>
			<MudTablePager HideRowsPerPage />
		</PagerContent>
	</MudTable>
</TitledSection>

<style>
	#tijdlijn-part {
		margin: 0 auto 2rem auto;
	}

	#proseniors-part {
		margin: 0 auto 2rem auto;
	}

	.mud-timeline-vertical.mud-timeline-position-alternate::before {
		background-color: #444444;
	}

</style>

@code {
	private string[][] _timelineItems = new string[][]
	{
		new string[] {"1970", "Title #1", "This will be the text of the item on our timeline. These will explain whatever happened in this year."},
		new string[] {"1971", "Title #2", "This will be the text of the item on our timeline. These will explain whatever happened in this year."},
		new string[] {"1972", "Title #3", "This will be the text of the item on our timeline. These will explain whatever happened in this year."},
		new string[] {"1973", "Title #4", "This will be the text of the item on our timeline. These will explain whatever happened in this year."},
		new string[] {"1974", "Title #5", "This will be the text of the item on our timeline. These will explain whatever happened in this year."},
	};

	private string[][] _proseniorItems = new string[][]
	{
		new string[] {"2021-22", "Sven Pepermans", "Duivenmelker"},
		new string[] {"2020-21", "Julie Deboel", ""},
		new string[] {"2018-20", "Elien De Backer", "Backie"},
		new string[] {"2017-18", "Kristof van Moorter", "Krissie"},
		new string[] {"2016-17", "Sander Vonck", ""},
		new string[] {"2015-16", "Anke De Spiegeleer", ""},
		new string[] {"2014-15", "Ken Roosens", ""},
		new string[] {"2013-14", "Brigitte Bauwens", "B"},
		new string[] {"2012-13", "Ignace De Brucker", "Lowie"},
		new string[] {"2010-12", "Michaël De Corte", "Ketten"},
		new string[] {"2009-10", "Sarah De Mesmaeker", "Facteur"},
		new string[] {"2008-09", "Kenneth De Meyer", "Filiep"},
		new string[] {"2007-08", "Lindsay Van Den Bremt", "Linsken"},
		new string[] {"2006-07", "Jonas De Bruyn", "Jones"},
		new string[] {"2005-06", "Koen De Spiegeleir", "Ludo"},
		new string[] {"2004-05", "Joris De Groot", "Jak"},
		new string[] {"2003-04", "Sabrina Van Hauwe", "Triplex"},
		new string[] {"2002-03", "Stijn De Brucker", "Zwerver"},
		new string[] {"2001-02", "Dimitri Dubois", "Pinky"},
		new string[] {"2000-01", "Gwendy Van Ransbeek", "Tandje"},
		new string[] {"1999-00", "Frederik Van Hecke", "Fred"},
		new string[] {"1998-99", "Kim Schollaert", "El Lankour"},
		new string[] {"1997-98", "David Vermeir", "De Kont"},
		new string[] {"1995-97", "Pascal Claessens", "Scalle"},
		new string[] {"1994-95", "Tony Mouton", "Den Bleeken"},
		new string[] {"1993-94", "Geert Bruyneel", "Den Broinen"},
		new string[] {"1992-93", "Tom Van Pelt", ""},
		new string[] {"1991-92", "Wim Wachtelaer", "Badmoesj"},
		new string[] {"1990-91", "Dirk De Munter", ""},
		new string[] {"1989-90", "Katrien De Neve", ""},
		new string[] {"1987-89", "Patrick Van Waeyenbergh", ""},
		new string[] {"1986-87", "Peter Van Accolyen", ""},
	};
}