/* /Pages/Home/Home.razor.rz.scp.css */
.blog-pic[b-9jsqrn8y1t] {
    width: 95%;
    border: 3px solid green;
    max-width: 1000px;
    margin: 0 1rem 4rem 1rem;
    box-shadow: 0px 10px 30px 0px #217226;
}

.blog-text[b-9jsqrn8y1t] {
    max-width: 700px;
    margin: 0 auto;
}

    .blog-text h5[b-9jsqrn8y1t] {
        font-weight: 400;
        text-align: left;
        padding-bottom: 1rem;
    }

@media only screen and (max-width: 750px) {
    .blog-pic[b-9jsqrn8y1t] {
        margin: 0 0 4rem 0;
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .blog-text[b-9jsqrn8y1t] {
        margin: 0 2rem;
    }
}
/* /Pages/Kalender/Event.razor.rz.scp.css */
.event-card[b-ov08ttcqlf] {
    max-width: 500px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #808080;
    transition: all 0.1s ease-in-out;
    margin: 0 auto;
}

.event-card:hover[b-ov08ttcqlf] {
    cursor: pointer;
    transform: scale(1.05);
    color: inherit;
}

.event-card:not(hover)[b-ov08ttcqlf] {
    cursor: default;
    transform: scale(1);
}

.event-image[b-ov08ttcqlf] {
    width: 100.05%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.event-text[b-ov08ttcqlf] {
    padding: 1rem 2rem 2rem 2rem;
}

@media only screen and (max-width: 600px) {
    .container-xxl[b-ov08ttcqlf] {
        padding: 0;
    }

    .event-card[b-ov08ttcqlf] {
        min-width: none;
        max-width: none;
        width: 100%;
        overflow: hidden;
    }

    .event-card[b-ov08ttcqlf], .event-image[b-ov08ttcqlf] {
        border-radius: 0;
    }

    .event-text[b-ov08ttcqlf] {
        padding: 1rem;
    }
}
/* /Pages/Kalender/Kalender.razor.rz.scp.css */
.event-div[b-p7ckrmsm1s] {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .event-grid[b-p7ckrmsm1s] {
    }
}
/* /Pages/Media/Media.razor.rz.scp.css */

.albums[b-jkcy88g78f] {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}

.album[b-jkcy88g78f] {
    width: 300px;
    padding: 1rem 0;
    transition: all .2s ease-in-out;
}


    .album:hover[b-jkcy88g78f] {
        cursor: pointer;
        transform: scale(1.05);
    }

    .album:not(hover)[b-jkcy88g78f] {
        cursor: default;
        transform: scale(1);
    }

.media-link[b-jkcy88g78f] {
    color: white;
    background-color: #217226;
    padding: 0.5rem 1rem;
}
/* /Pages/Praesidium/Member.razor.rz.scp.css */
.pr-card[b-18pm7v3bvf] {
    max-width: 400px;
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #808080;
    transition: all 0.1s ease-in-out;
    grid-column: span 2;
    margin: 0 auto;
}

.pr-card:hover[b-18pm7v3bvf] {
    cursor: pointer;
    transform: scale(1.05);
}

.pr-card:not(hover)[b-18pm7v3bvf] {
    cursor: default;
    transform: scale(1);
}

.pr-image[b-18pm7v3bvf] {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.pr-text[b-18pm7v3bvf] {
    padding: 0.5rem 1rem;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .pr-card[b-18pm7v3bvf] {
        max-width: none;
        width: 80%;
        grid-column: span 3;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 860px) {
    .pr-card[b-18pm7v3bvf] {
        min-width: none;
        grid-column: span 6;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .pr-card[b-18pm7v3bvf] {
        min-width: none;
        max-width: none;
        width: 100%;
    }

    .pr-card[b-18pm7v3bvf], .pr-image[b-18pm7v3bvf] {
        border-radius: 0;
    }
}
/* /Pages/Praesidium/Praesidium.razor.rz.scp.css */
.pr-grid[b-b383b6gld6] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .pr-grid[b-b383b6gld6] {
        overflow: hidden;
    }
}
/* /Shared/Banner.razor.rz.scp.css */
.banner div[b-1xo1cob7me] {
    width: 250px;
}

.banner[b-1xo1cob7me] {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    background: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(33,114,38,1) 100%);
}

.logo[b-1xo1cob7me] {
    position: relative;
    z-index: 0;
    height: 65%;
    filter: drop-shadow(0px 20px 20px rgba(0,0,0,0.7));
    animation: sway-animation-b-1xo1cob7me 4s ease-in-out;
}

.sway-animation[b-1xo1cob7me] {
    animation-name: sway-animation-b-1xo1cob7me;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
}

@media only screen and (max-width: 600px) {
    .banner[b-1xo1cob7me] {
        flex-direction: column;
        padding-top: 50px;
    }
}

@keyframes sway-animation-b-1xo1cob7me {
    0% {
        transform: rotateY(-20deg) rotateX(10deg);
    }

    100% {
        transform: rotateY(20deg) rotateX(10deg);
    }
}
/* /Shared/Footer.razor.rz.scp.css */
.footer[b-81g2plhqll] {
    margin: 6rem 0 0 0;
}

.footer-top[b-81g2plhqll] {
    width: 100%;
}

.footer-bot[b-81g2plhqll] {
    padding: 2rem;
    background-color: #AAAAAA;
    display: grid;
    gap: 3rem;
}

.promo a[b-81g2plhqll] {
    color: white;
}

.promo[b-81g2plhqll] {
    color: white;
    background-color: #222222;
    text-align: center;
    padding: 0.5rem;
}

.footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll], .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
    grid-row-start: 1;
    justify-content: center;
}

.pages[b-81g2plhqll] {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .footer-icon[b-81g2plhqll], .footer-socials[b-81g2plhqll] {
        grid-row-start: 1;
    }

    .footer-contact[b-81g2plhqll], .footer-pages[b-81g2plhqll] {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 850px) {
    .footer-bot[b-81g2plhqll] {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hfb645j2nb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hfb645j2nb] {
    flex: 1;
}

.sidebar[b-hfb645j2nb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hfb645j2nb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hfb645j2nb]  a, .top-row[b-hfb645j2nb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-hfb645j2nb]  a:hover, .top-row[b-hfb645j2nb]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-hfb645j2nb]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hfb645j2nb] {
        display: none;
    }

    .top-row.auth[b-hfb645j2nb] {
        justify-content: space-between;
    }

    .top-row[b-hfb645j2nb]  a, .top-row[b-hfb645j2nb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hfb645j2nb] {
        flex-direction: row;
    }

    .sidebar[b-hfb645j2nb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hfb645j2nb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-hfb645j2nb]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-hfb645j2nb], article[b-hfb645j2nb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
h3[b-6wwsayw1sz] {
    height: 100%;
    display: flex;
    align-items: center;
}

.fixed-top[b-6wwsayw1sz] {
    margin: 0 2rem;
}

.navbar[b-6wwsayw1sz] {
    height: 4rem;
    padding: 0 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: #217226;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
}

.menu-link[b-6wwsayw1sz] {
    color: white;
    text-decoration: none;
}

.menu-link:hover[b-6wwsayw1sz] {
    color: lightgray;
}

.active-link[b-6wwsayw1sz] {
    text-decoration: underline;
    color: darkkhaki;
    font-weight: bolder;
}

@media only screen and (max-width: 959px) {
    .navbar[b-6wwsayw1sz] {
        padding: 0 1rem;
        max-width: none;
        width: 100%;
        border-radius: 0;
    }

    .fixed-top[b-6wwsayw1sz] {
        margin: 0;
    }
}
