/* TODO: Setup body */
/* TODO: Add fonts in ./fonts and add @font-face here, or delete folder if not necessary */

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Prompt;
}

button {
  border: none;
  background-color: none;
  font-family: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  /* width: 1rem; */
  width: 0rem;
  border-radius: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #da594c;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c44236;
}
