.dialog[b-93apr55cxb] {
    width: 1300px;
    max-height: 80%;
    height: 680px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    position: relative;
    margin: 0 3rem;
    cursor: default;
}

.btn-close[b-93apr55cxb] {
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    padding:0.5rem;
}

.title[b-93apr55cxb] {
    grid-column-start: 2;
    margin: 3rem 3rem 0 3rem;
}

.image[b-93apr55cxb] {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
}

.text[b-93apr55cxb] {
    margin: 0 3rem 3rem 3rem;
    overflow: scroll;
    position: relative;
}

.function[b-93apr55cxb] {
    color: #217226;
    font-size: 3rem;
}

.name[b-93apr55cxb] {
    font-size: 2rem;
}

.question[b-93apr55cxb] {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
}
.answer[b-93apr55cxb] {
    font-weight: 300;
    font-size: 1rem;
}

@media only screen and (max-width: 1300px) {
    .title[b-93apr55cxb] {
        margin: 2rem 2rem 0 2rem;
    }
    .text[b-93apr55cxb] {
        margin: 0 2rem 2rem 2rem;
    }

    .function[b-93apr55cxb] {
        font-size: 3rem;
    }

    .name[b-93apr55cxb] {
        font-size: 1.75rem;
    }

    .question[b-93apr55cxb], .answer[b-93apr55cxb] {
    }
}

@media only screen and (max-width: 1100px) {
    .dialog[b-93apr55cxb] {
        margin: 0 2rem;
    }

    .function[b-93apr55cxb] {
        font-size: 2.5rem;
    }

    .name[b-93apr55cxb] {
        font-size: 1.5rem;
    }

    .question[b-93apr55cxb], .answer[b-93apr55cxb] {
    }
}

@media only screen and (max-width: 950px) {
    .dialog[b-93apr55cxb] {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin: 0 1rem;
        max-width: 500px;
        height: 90%;
        max-height: none;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .dialog[b-93apr55cxb]::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }

    .title[b-93apr55cxb] {
        margin: 3rem 1rem 1rem 1rem;
    }

    .name[b-93apr55cxb] {
        margin: 0;
    }

    .text[b-93apr55cxb] {
        overflow: visible;
        margin: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .title[b-93apr55cxb] {
        margin: 3rem 1rem 1rem 1rem;
    }
    .function[b-93apr55cxb] {
        font-size: 1.75rem;
    }
    .name[b-93apr55cxb] {
        font-size: 1.25rem;
    }
}